@tailwind base;
@tailwind components;
@tailwind utilities;

/* - - BREAKPOINTS - - */
/*SMALL = 640,*/
/*MEDIUM = 768,*/
/*LARGE = 1024,*/
/*EXTRA_LARGE = 1280,*/
/*EXTRA_LARGE_X2 = 1536,*/

:root {
  --line-width: 3px;
  --blur: 10px;
}


@layer utilities {
  .debug {
    @apply border-2;
    @apply border-error;
  }

  .text-shadow {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  }

  .transition-smooth {
    @apply transition-all;
    @apply duration-1000;
  }

  .transition-fast {
    @apply transition-all;
    @apply duration-300;
  }

  .nav-decoration-x {
    @apply relative;
  }

  .nav-decoration-y {
    @apply relative;
  }

  .nav-decoration-y::after {
    @apply content-[""];
    @apply absolute;
    @apply bg-tertiary;
    top: 2rem;
    right: -2.25rem;
    width: var(--line-width);
    height: 150vh;
  }

  .nav-decoration-y::before {
    @apply content-[""];
    @apply absolute;
    @apply bg-tertiary;
    right: -3.25rem;
    top: 4rem;
    width: var(--line-width);
    height: 150vh;
  }

  .nav-decoration-x::after {
    @apply absolute;
    @apply content-[""];
    @apply bg-tertiary;
    width: 75vw;
    height: var(--line-width);
    bottom: 0.75rem;
    right: 2.5rem;
  }
  
  @media screen and (max-width: 1536px) {
    .nav-decoration-x::after {
      width: 60vw;
    }
  }

  @media screen and (max-width: 1024px) {
    .nav-decoration-x::after {
      width: 45vw;
    }

    .nav-decoration-y::before {
      height: 190vh;
    }

    .nav-decoration-y::after {
      height: 190vh;
    }
  }

  @media screen and (max-width: 768px) {
    .nav-decoration-x::after {
      @apply hidden;
    }

    .nav-decoration-y::before {
      @apply hidden;
    }

    .nav-decoration-y::after {
      @apply hidden;
    }
  }
}

@layer base {
  html,
  body {
    @apply font-poppins;
    @apply bg-primary-content;
    @apply p-0;
    @apply m-0;
  }

  a {
    @apply no-underline;
    @apply text-inherit;
  }

  * {
    @apply box-border;
  }
}

@layer components {
  .post-content {
    /* Font */
    font: 15px Helvetica, arial, freesans, clean, sans-serif;
    @apply text-tertiary leading-relaxed break-words antialiased;

    /* Layout */
    @apply w-full bg-tertiary-content mt-8 p-5 rounded-3xl;
  }

  .post-content a {
    @apply text-info decoration-0;
  }

  .post-content a:hover {
    @apply underline;
  }

  .post-content p, blockquote, ul, ol, dl, table, pre {
    @apply my-4 mx-0;
  }

  .post-content ul, ol {
    @apply pl-7;
  }

  .post-content h1 {
    @apply text-primary-focus text-3xl pb-5 border-b-2 border-tertiary ;
  }

  .post-content h2 {
    @apply text-primary-focus text-3xl pb-5 border-b-2 border-tertiary ;
  }

  .post-content h3 {
    @apply text-2xl;
  }

  .post-content h4 {
    @apply text-xl;
  }

  .post-content h5 {
    @apply text-lg;
  }

  .post-content h6 {
    @apply text-lg text-tertiary;
  }

  .post-content h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-relaxed my-4 ;
  }

  .post-content h1 + p, h2 + p, h3 + p {
    @apply mt-3;
  }

  .post-content img {
    @apply max-w-full;
  }

  .post-content code,
  pre {
    /* Layout */
    @apply bg-secondary-content rounded-md border-2 border-tertiary overflow-auto;

    /* Text */
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    @apply text-xs text-white py-0.5 mx-1 px-2 whitespace-pre;
  }

  .post-content pre code {
    @apply border-0 m-0 p-0 whitespace-pre;
  }
}